<html>
<head>
    <title>Data Export</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <style>
        h2 {
            font-size: 1.5em;
            margin: .5em 0 1em 0;
        }
    </style>
</head>
<body>

<div class="container">
    <form action="/" method="post">
        <h1>Data Export</h1>
        <h2>{{env.server}}</h2>

        <p>
            Jump to Site:
            {{#each sites}}
                <a href="#sites|{{this}}|all">{{this}}</a>
                {{#unless @last}} | {{/unless}}
            {{/each}}
        </p>
        <p>Select the items to export</p>

        <div style="margin-left: 40px; margin-bottom: 20px;">
            <button class="btn btn-danger btn-lg" name="cancel">Cancel</button>
            <button class="btn btn-primary btn-lg" name="export">Export</button>
        </div>

        <ul>
            <li>
                <input type="checkbox" name="global_data|all" id="global_data|all">
                 <label for="global_data|all">Global Data</label>

                <ul class="submenu">
                    <li><input type="checkbox" name="global_data|system_type_definitions" id="global_data|system_type_definitions"/> <label for="global_data|system_type_definitions">System Type Definitions (Metadata).</label></li>
                    <li><input type="checkbox" name="global_data|custom_types" id="global_data|custom_types"/> <label for="global_data|custom_types">Custom Types Definitions (Metadata).</label></li>
                    <li><input type="checkbox" name="global_data|meta_data" id="global_data|meta_data"/> <label for="global_data|meta_data">System + Custom Types (Metadata)</label></li>
                    <li><input type="checkbox" name="global_data|access_roles" id="global_data|access_roles"/> <label for="global_data|access_roles">Access Roles</label></li>
                    <li><input type="checkbox" name="global_data|csc_settings" id="global_data|csc_settings"/> <label for="global_data|csc_settings">Settings for Customer Service Center customization.</label></li>
                    <li><input type="checkbox" name="global_data|csrf_whitelists" id="global_data|csrf_whitelists"/> <label for="global_data|csrf_whitelists">CSRF Allowlists.</label></li>
                    <li><input type="checkbox" name="global_data|custom_preference_groups" id="global_data|custom_preference_groups"/> <label for="global_data|custom_preference_groups">Global Preferences</label></li>
                    <li><input type="checkbox" name="global_data|custom_quota_settings" id="global_data|custom_quota_settings"/> <label for="global_data|custom_quota_settings">Custom quota settings of the instance.</label></li>
                    <li><input type="checkbox" name="global_data|geolocations" id="global_data|geolocations"/> <label for="global_data|geolocations">Geolocations of the organization.</label></li>
                    <li><input type="checkbox" name="global_data|global_custom_objects" id="global_data|global_custom_objects"/> <label for="global_data|global_custom_objects">Global custom objects.</label></li>
                    <li><input type="checkbox" name="global_data|job_schedules" id="global_data|job_schedules"/> <label for="global_data|job_schedules">Scheduled job definitions.</label></li>
                    <li><input type="checkbox" name="global_data|job_schedules_deprecated" id="global_data|job_schedules_deprecated"/> <label for="global_data|job_schedules_deprecated">Deprecated scheduled job definitions.</label></li>
                    <li><input type="checkbox" name="global_data|locales" id="global_data|locales"/> <label for="global_data|locales">Locales.</label></li>
                    <li><input type="checkbox" name="global_data|oauth_providers" id="global_data|oauth_providers"/> <label for="global_data|oauth_providers">OAuth providers.</label></li>
                    <li><input type="checkbox" name="global_data|ocapi_settings" id="global_data|ocapi_settings"/> <label for="global_data|ocapi_settings">Global OCAPI settings.</label></li>
                    <li><input type="checkbox" name="global_data|page_meta_tags" id="global_data|page_meta_tags"/> <label for="global_data|page_meta_tags">Page meta tag definitions.</label></li>
                    <li><input type="checkbox" name="global_data|preferences" id="global_data|preferences"/> <label for="global_data|preferences">Global preferences.</label></li>
                    <li><input type="checkbox" name="global_data|price_adjustment_limits" id="global_data|price_adjustment_limits"/> <label for="global_data|price_adjustment_limits">Price adjustment limits for all roles.</label></li>
                    <li><input type="checkbox" name="global_data|services" id="global_data|services"/> <label for="global_data|services">Service definitions from the service framework.</label></li>
                    <li><input type="checkbox" name="global_data|sorting_rules" id="global_data|sorting_rules"/> <label for="global_data|sorting_rules">Global sorting rules.</label></li>
                    <li><input type="checkbox" name="global_data|static_resources" id="global_data|static_resources"/> <label for="global_data|static_resources">Global static resources.</label></li>
                    <li><input type="checkbox" name="global_data|users" id="global_data|users"/> <label for="global_data|users">Users of the organization.</label></li>
                    <li><input type="checkbox" name="global_data|webdav_client_permissions" id="global_data|webdav_client_permissions"/> <label for="global_data|webdav_client_permissions">Global WebDAV Client Permissions.</label></li>
                </ul>
            </li>
            <li><input type="checkbox" name="catalog_static_resources|all" id="catalog_static_resources|all"/> <label for="catalog_static_resources|all">Catalog Static Resources</label>
                <ul class="submenu">
                    {{#each catalogs}}
                        <li>
                            <input type="checkbox" name="catalog_static_resources|{{this}}" id="catalog_static_resources|{{this}}"/> <label for="catalog_static_resources|{{this}}">{{this}}</label>
                        </li>
                    {{/each}}
                </ul>
            </li>
            <li><input type="checkbox" name="catalogs|all" id="catalogs|all"/> <label for="catalogs|all">Catalogs</label>
                <ul class="submenu">
                    {{#each catalogs}}
                        <li>
                            <input type="checkbox" name="catalogs|{{this}}" id="catalogs|{{this}}"/> <label for="catalogs|{{this}}">{{this}}</label>
                        </li>
                    {{/each}}
                </ul>
            </li>
            <li><input type="checkbox" name="libraries|all" id="libraries|all"/> <label for="libraries|all">Libraries</label></li>
            <li><input type="checkbox" name="library_static_resources|all" id="library_static_resources|all"/> <label for="library_static_resources|all">Library Static Resources</label></li>
            <li><input type="checkbox" name="inventory_lists|all" id="inventory_lists|all"/> <label for="inventory_lists|all">Inventory Lists</label>
                <ul class="submenu">
                    {{#each inventoryLists}}
                        <li>
                            <input type="checkbox" name="inventory_lists|{{this}}" id="inventory_lists|{{this}}"/> <label for="inventory_lists|{{this}}">{{this}}</label>
                        </li>
                    {{/each}}
                </ul>
            </li>
            <li><input type="checkbox" name="customer_lists|all" id="customer_lists|all"/> <label for="customer_lists|all">Customer Lists</label></li>
            <li><input type="checkbox" name="price_books|all" id="price_books|all"/> <label for="price_books|all">Price Books</label></li>

            <li><input type="checkbox" name="sites|all" id="sites|all"/> <label for="sites|all">Sites</label>
                <ul class="submenu">
                    {{#each sites}}
                        <li>
                            <input type="checkbox" name="sites|{{this}}|all" id="sites|{{this}}|all"/> <label for="sites|{{this}}|all">{{this}}</label>
                            <ul class="submenu">
                                <li><input type="checkbox" name="sites|{{this}}|ab_tests" id="sites|{{this}}|ab_tests"/><label for="sites|{{this}}|ab_tests">A/B Tests</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|active_data_feeds" id="sites|{{this}}|active_data_feeds"/><label for="sites|{{this}}|active_data_feeds">Active Data Feeds.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|cache_settings" id="sites|{{this}}|cache_settings"/><label for="sites|{{this}}|cache_settings">Cache Settings.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|campaigns_and_promotions" id="sites|{{this}}|campaigns_and_promotions"/><label for="sites|{{this}}|campaigns_and_promotions">Campaigns and Promotions.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|content" id="sites|{{this}}|content"/><label for="sites|{{this}}|content">Content.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|coupons" id="sites|{{this}}|coupons"/><label for="sites|{{this}}|coupons">Coupons.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|custom_objects" id="sites|{{this}}|custom_objects"/><label for="sites|{{this}}|custom_objects">Custom Objects.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|customer_cdn_settings" id="sites|{{this}}|customer_cdn_settings"/><label for="sites|{{this}}|customer_cdn_settings">Customer CDN Settings.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|customer_groups" id="sites|{{this}}|customer_groups"/><label for="sites|{{this}}|customer_groups">Customer Groups.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|distributed_commerce_extensions" id="sites|{{this}}|distributed_commerce_extensions"/><label for="sites|{{this}}|distributed_commerce_extensions">Distributed Commerce Extensions.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|dynamic_file_resources" id="sites|{{this}}|dynamic_file_resources"/><label for="sites|{{this}}|dynamic_file_resources">Dynamic File Resources.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|gift_certificates" id="sites|{{this}}|gift_certificates"/><label for="sites|{{this}}|gift_certificates">Gift Certificates.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|ocapi_settings" id="sites|{{this}}|ocapi_settings"/><label for="sites|{{this}}|ocapi_settings">OCAPI Settings.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|payment_methods" id="sites|{{this}}|payment_methods"/><label for="sites|{{this}}|payment_methods">Payment Methods.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|payment_processors" id="sites|{{this}}|payment_processors"/><label for="sites|{{this}}|payment_processors">Payment Processors.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|redirect_urls" id="sites|{{this}}|redirect_urls"/><label for="sites|{{this}}|redirect_urls">Redirect URLs.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|search_settings" id="sites|{{this}}|search_settings"/><label for="sites|{{this}}|search_settings">Search Settings.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|shipping" id="sites|{{this}}|shipping"/><label for="sites|{{this}}|shipping">Shipping.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|site_descriptor" id="sites|{{this}}|site_descriptor"/><label for="sites|{{this}}|site_descriptor">Site Descriptor.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|site_preferences" id="sites|{{this}}|site_preferences"/><label for="sites|{{this}}|site_preferences">Site Preferences.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|sitemap_settings" id="sites|{{this}}|sitemap_settings"/><label for="sites|{{this}}|sitemap_settings">Sitemap Settings.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|slots" id="sites|{{this}}|slots"/><label for="sites|{{this}}|slots">Slots.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|sorting_rules" id="sites|{{this}}|sorting_rules"/><label for="sites|{{this}}|sorting_rules">Sorting Rules.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|source_codes" id="sites|{{this}}|source_codes"/><label for="sites|{{this}}|source_codes">Source Codes.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|static_dynamic_alias_mappings" id="sites|{{this}}|static_dynamic_alias_mappings"/><label for="sites|{{this}}|static_dynamic_alias_mappings">Static, Dynamic and Alias mappings.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|stores" id="sites|{{this}}|stores"/><label for="sites|{{this}}|stores">Stores.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|tax" id="sites|{{this}}|tax"/><label for="sites|{{this}}|tax">Tax.</label></li>
                                <li><input type="checkbox" name="sites|{{this}}|url_rules" id="sites|{{this}}|url_rules"/><label for="sites|{{this}}|url_rules">URL Rules.</label></li>
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </li>
        </ul>

        <div style="margin-left: 40px; margin-top: 20px;">
            <button class="btn btn-danger btn-lg" name="cancel">Cancel</button>
            <button class="btn btn-primary btn-lg" name="export">Export</button>
        </div>

    </form>

</div>

<script>
    $('input[type="checkbox"]').click(function() {
        if( $(this).is(':checked') ) {
            $(this).siblings('.submenu').find('input[type="checkbox"]').prop('disabled', true).prop('checked', true);
        } else {
            $(this).siblings('.submenu').find('input[type="checkbox"]').prop('disabled', false).prop('checked', false);
        }
    });
</script>

</body>
</html>
